* {
  box-sizing: border-box;
}
body {
background-color:#ccc;
}
.container {
     display: flex;
     flex-wrap: wrap;
     align-content: flex-end;
     }
  .logo {
     background-color: #f1f1f1;
     padding: 10px;
     flex: 100%;
     height:30px;
     text-align:center;
     }
     .header {
     background-color: teal;
     padding: 10px;
     flex: 100%;
     height:100px;
     text-align:center;
     }
     .nav {
     display:flex;
     flex-grow: 3;
     }
     .nav a{
     background-color: #f1f1f1;
     padding: 10px;
     flex: 25%;
     height:30px;
     text-align:center;
     }
    .row {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-end;
     }
     .about {
     background-color: teal;
     padding: 10px;
     flex: 50%;
     height:400px;
     text-align:center;
     }
     .quick-link {
     background-color: blue;
     padding: 10px;
     flex: 50%;
     height:200px;
     text-align:center;
     }
      .quick-link {
     background-color: blue;
     padding: 10px;
     flex: 50%;
     height:200px;
     text-align:center;
     }
     .footer {
     background-color: black;
     flex: 100%;
     height: 50px;
     text-align: center;
     }
     
    @media (max-width: 800px) {
  .header, .logo, .nav, .about, .quick-link, .footer {
    flex: 100%;
  }
} 
     
     
